:root {
    --primary-color: navy;
    --secondary-color: #44ffba;
    --hover-color: rgb(255, 105, 105);
    --font-family: "Kumbh Sans";
    --padding: 16px 24px;
    --border-radius: 20px;
}

body {
    padding: 40px;
    font-family: var(--font-family);
    margin: 0;
}

h1 {
    color: var(--primary-color);
    font-size: 66px;
    font-family: var(--font-family);
    font-weight: bold;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 25px;
    padding: 10px 10px 0 0;
}

h2 {
    line-height: 1.2;
}

span {
    font-weight: bold;
}

p{
    line-height: 1.5;
}

img{
    border-radius: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0 10px;
    grid-auto-flow: row;
}

.filterOnKitchen {
    grid-column: 1 / 1;
}

.filterOnTime {
    grid-column: 2 / 2;
}

.randomButton {
    grid-column: 2 / 3;
}

.buttonCuisine,
.buttonTime,
.buttonRandom,
.buttonDiet {
    background-color: var(--secondary-color);
    border: 2px solid transparent;
    padding: var(--padding);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    border-radius: var(--border-radius);
    margin: 5px;
}

.buttonCuisine:hover,
.buttonTime:hover,
.buttonRandom:hover,
.buttonDiet:hover {
    border: 2px solid var(--primary-color);
    color: white;
    cursor: pointer;
}

.buttonCuisine:has(:checked),
.buttonTime:has(:checked),
.buttonRandom:has(:checked)
.buttonDiet:has(:checked) {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid transparent;
}

.buttonTime,
.buttonRandom {
    background-color: pink;
}

.buttonTime:hover,
.buttonRandom:hover {
    background-color: var(--hover-color);
}

input {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . .";
}

.cards {
    display: grid;
    gap: 10px;
    line-height: 0.8;
    flex-wrap: wrap;
    background-color: #fff;
    width: 20%;
    min-height: 621px;
    margin: 10px;
    border-radius: var(--border-radius);
    border: 1px solid grey;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.cards:hover {
    border: 1px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(15, 12, 231, 0.2);
}

.errorMessages {
    width: 400px;
    background-color: #6364fb;
    color: white;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorButton {
    background-color: #a9b0c7;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.errorButton:hover {
    background-color: #f1b0b7;
}

.hidden {
    visibility: hidden;
}

img {
    width: 100%;
    border-radius: var(--border-radius);
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .menu {
        height: auto;
        grid-column: 1 / -1;
    }
}

.cards {
    gap: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    width: 90%;
    min-height: 300px;
    margin: 10px;
    border-radius: var(--border-radius);
    border: 1px solid grey;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .container {
        display: grid;
        gap: 10px;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
    }
}